@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/bag_and_shot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-family: "KimjungchulMyungjo-Bold";
  font-size: 28px;
  line-height: 56px;
  font-weight: 600;
  color: #fefefe;
  z-index: 10;
}

.lang {
  position: relative;
}

.lang span {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 24px;
  border: none;
  border-radius: 8px;
  font-family: "NanumSquare", sans-serif;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  background-color: #333333;
  color: #fefefe;
  font-size: 12px;
}

.hide {
  opacity: 0;
}
