@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

:root {
}

body {
  margin: 0;
  padding: 0;
  color: #222222;
}

.lang {
  font-family: "NanumSquare", sans-serif;
  width: 45px;
  height: 24px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  background-color: #333333;
  color: #fefefe;
  border-radius: 8px;
  font-size: 12px;
  margin: 0px 5px;
}

.credit {
  color: #555555;
  font-family: "NanumSquare", sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 5px;
  text-align: right;
}

.credit > p {
  margin: 0 10px;
}

.credit a {
  color: #555555;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
